* {
	padding: 0;
	margin: 0;
}

body {
	color: black;
}

div {
	border: 1px dashed purple;
}

#container {
	width: 600px;
	height: 600px;
	border: 1px solid black;
	display: block;
	position: relative;
	margin-top: 50px;
	margin-left: 400px;
}

p {
	color: purple;
	border: 2px dotted red;
}

#button {
	display: block;
	width: 170px;
	height: 50px;
	position: relative;
	margin-top: 3%;
	right: 5%;
	margin-left: 50%;
	background-color: red;
	border: 2px solid darkred;
	border-radius: 10px;
}

#reset {
	position: absolute;
	width: 50%;
	height: 100%;
	margin-left: 50%;
	padding-top: 7px;
	right: 26%;
	font-size: 2em;
	border: none;
	font-family: 'Lucida Console';
	color: white;
}

.grid {
	height: 37.375px;
	width: 37.375px;
	border: 0px solid green;
	position: relative;
	display: inline-block;
}

.grid:hover {
	background-color: blue;
}

#popup {
	position: fixed;
	display: none;
	margin-top: 50px;
	margin-left: 50%;
	right: 25%;
	width:50%;
	height:25%;
	border: 4px solid purple;
	z-index: 100;
	background-color: white;

}
