* {
	padding: 0;
	margin: 0;
}

body {
	color: black;
}

div {
	border: 1px dashed purple;
}

#container {
	width: 600px;
	height: 600px;
	border: 1px solid black;
	display: block;
	position: relative;
	margin-top: 50px;
	margin-left: 400px;
}

p {
	color: purple;
	border: 2px dotted red;
}

.grid {
	height: 24%;
	width: 24%;
	border: 1px dashed green;
	position: relative;
	display: inline-block;
}